<html>
	<head>
		<title>DATA_TITLE</title>
		<link rel="stylesheet" href="styles/style.css"/>
		<script type="text/javascript" src="javascript/jquery-1.9.1.min.js">
		</script>
	</head>
	<body>
		<div id="main">

		<div id="header">		
	
		</div>
		<div id="body">


			<div id="topbar">
				<div id="photobar">
					<div class="photo left">
						<div class="photo_content">
							<img src="img/pp.png" width="120px"/>
						</div>
					</div>
					<div class="profile_name_container left">
						<span class="profile_name"><b>Kredit Motor ABC</b></span><br/>
						<span class="profile_more">Bandung</span><br/>
					</div>
				</div>
					<div id="topbar_content">
						<ul class="menu right">
							<li><a href="index.php">Home</a></li>
							<li><a href="laporan_stok_motor.php">Stok motor</a></li>
							<li><a href="laporan_pelanggan.php">Data pelanggan</a></li>
							<li><a href="laporan_kredit.php">Data kredit</a></li>
						</ul>
					</div>
			</div>

				<div id="bodybar">