		<form action="controller/DaftarPelanggan.php" method="POST">


			<table>
				<tr>
					<td>Nama:</td>
					<td><input type="text" name="nama" required/></td>
				</tr>
				<tr>
					<td>Alamat:</td>
					<td><textarea name="alamat" required></textarea></td>
				</tr>
				<tr>
					<td>Telepon:</td>
					<td><input type="text" name="no_telp" required/></td>
				</tr>
				<tr>
					<td>Pekerjaan:</td>
					<td><input type="text" name="pekerjaan" required/></td>
				</tr>
				<tr>
					<td>No. KTP:</td>
					<td><input type="text" name="no_ktp" required/></td>
				</tr>
			</table>

			<input type="submit" value="Tambahkan"/>
		</form>