		<form action="controller/DaftarMotor.php" method="POST">

			DATA_EA

			<table>
				<tr>
					<td>Merk motor: </td>
					<td><input type="text" name="merk_motor" required/></td>
				</tr>
				<tr>
					<td>Nama motor: </td>
					<td><input type="text" name="nama_motor" required/></td>
				</tr>
				<tr>
					<td>Tahun: </td>
					<td><input type="text" name="tahun" required/></td>
				</tr>
				<tr>
					<td>No rangka:</td>
					<td><input type="text" name="no_rangka" required/></td>
				</tr>
				<tr>
					<td>No mesin:</td>
					<td><input type="text" name="no_mesin" required/></td>
				</tr>
				<tr>
					<td>Harga:</td>
					<td><input type="text" name="harga" required/></td>
				</tr>
			</table>

			<input type="submit" value="Tambahkan" class="button-link medium"/>
		</form>