<div class="judul">
	Selamat datang di Kredit Motor
</div>


<div class="left">
	<b><a href="tambah_motor.php">+ Tambah motor</a></b><br/>
	<b><a href="tambah_pelanggan.php">+ Tambah pelanggan</a></b>
	<br/>

</div>


<div class="right">
<form action="controller/CariPelanggan.php" method="POST">
	Nomor id pelanggan:<br/>
	<input type="text" name="id_pelanggan" class="form_id_pelanggan" required/><br/>
	<input type="submit" value="Cari" class="button-link penuh"/>
</form>

<br/>
<hr/>
Hari ini DATA_TANGGAL
<hr/>
Pembayar bulan ini

DATA_PEMBAYAR

<hr/>
</div>

<div class="clear">
</div>