<div class="judul">
	Selamat datang di Kredit Motor
</div>

<br/>

<div class="left">
	<b><a href="tambah_motor.php">+ Tambah motor</a></b><br/>
	<b><a href="tambah_pelanggan.php">+ Tambah pelanggan</a></b><br/>

	<hr/>
	<!-- <b><a href="#">! Laporan Bulanan</a></b> -->
</div>


<div class="right">
<form action="controller/CariPelanggan.php" method="POST">
	Nomor id pelanggan:<br/>
	<input type="text" name="id_pelanggan" class="form_id_pelanggan" required/><br/>
	<input type="submit" value="Cari" class="button-link penuh"/>
</form>

<br/>
<hr/>
<center>Hari ini DATA_TANGGAL</center>
<hr/>
<center>
	<span class="small_text">Pembayar masa tenggat 30 hari dari sekarang</span>

	DATA_PEMBAYAR
</center>

<hr/>
</div>

<div class="clear">
</div>