<div class="left">
	Selamat datang pelanggan dengan id 
	DATA_ID<br/>
</div>

<div class="right">
	
</div>

<div class="clear">
	</div>


<table>
	<tr>
		<td>Nama: </td>
		<td>DATA_NAMA</td>
	</tr>
	<tr>
		<td>alamat: </td>
		<td>DATA_ALAMAT</td>
	</tr>
	<tr>
		<td>No telp: </td>
		<td>DATA_NO_TELP</td>
	</tr>
	<tr>
		<td>Pekerjaan: </td>
		<td>DATA_PEKERJAAN</td>
	</tr>
	<tr>
		<td>No KTP: </td>
		<td>DATA_NO_KTP</td>
	</tr>
</table>
<br/>
<a href="tambah_kredit_pelanggan.php?id=DATA_ID">+ Tambah kredit baru</a>
<hr/>

DATA_KREDIT


<br/>
<br/>

<br/>
<br/>